.slides,
.each-slide > div img {
	z-index: 100;
	/*
	width: 200px;
	height: 200px;
	*/
}

.fixed-slides {
	position: fixed;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

.each-slide > div {
	display: flex;
	align-items: center;
	justify-content: center;
	background-size: cover;
}

.react-slideshow-container .nav {
	opacity: 0.35;
}
